<a href="https://colab.research.google.com/github/PyBeginner1/Dissolvedoxygenpredictioninriverwater/blob/main/Predicting_Oxygen_in_Rivers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, LogisticRegression

In [8]:
data = pd.read_csv('/content/water.csv')

In [9]:
data.head()

   Id  target    O2_1   O2_2  O2_3  ...  BOD5_3  BOD5_4  BOD5_5  BOD5_6  BOD5_7
0   0   12.58   9.875   9.20   NaN  ...     NaN     NaN     NaN     NaN     NaN
1   3    9.37  10.300  10.75   NaN  ...     NaN     NaN     NaN     NaN     NaN
2   4    8.35   8.290   7.90   NaN  ...     NaN     NaN     NaN     NaN     NaN
3   5    9.57   8.820   6.80   NaN  ...     NaN     NaN     NaN     NaN     NaN
4   6    6.00   6.000   6.50   NaN  ...     NaN     NaN     NaN     NaN     NaN

[5 rows x 37 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      147 non-null    int64
 1   target  147 non-null    float64
 2   O2_1    145 non-null    float64
 3   O2_2    145 non-null    float64
 4   O2_3    32 non-null     float64
 5   O2_4    31 non-null     float64
 6   O2_5    33 non-null     float64
 7   O2_6    37 non-null     float64
 8   O2_7    37 non-null     float64
 9   NH4_1   145 non-null    float64
 10  NH4_2   145 non-null    float64
 11  NH4_3   32 non-null     float64
 12  NH4_4   31 non-null     float64
 13  NH4_5   33 non-null     float64
 14  NH4_6   37 non-null     float64
 15  NH4_7   37 non-null     float64
 16  NO2_1   145 non-null    float64
 17  NO2_2   145 non-null    float64
 18  NO2_3   32 non-null     float64
 19  NO2_4   31 non-null     float64
 20  NO2_5   33 non-null     float64
 21  NO2_6   37 non-null     float64
 22  NO2_7   37 non-null     float64
 23  NO3_1   145 non-null    float64
 24  NO3_2   145 non-null    float64
 25  NO3_3   32 non-null     float64
 26  NO3_4   31 non-null     float64
 27  NO3_5   33 non-null     float64
 28  NO3_6   37 non-null     float64
 29  NO3_7   37 non-null     float64
 30  BOD5_1  145 non-null    float64
 31  BOD5_2  145 non-null    float64
 32  BOD5_3  32 non-null     float64
 33  BOD5_4  31 non-null     float64
 34  BOD5_5  33 non-null     float64
 35  BOD5_6  37 non-null     float64
 36  BOD5_7  37 non-null     float64
dtypes: float64(36), int64(1)
memory usage: 42.6 KB

In [6]:
data.isna().sum()

Id          0
target      0
O2_1        2
O2_2        2
O2_3      115
O2_4      116
O2_5      114
O2_6      110
O2_7      110
NH4_1       2
NH4_2       2
NH4_3     115
NH4_4     116
NH4_5     114
NH4_6     110
NH4_7     110
NO2_1       2
NO2_2       2
NO2_3     115
NO2_4     116
NO2_5     114
NO2_6     110
NO2_7     110
NO3_1       2
NO3_2       2
NO3_3     115
NO3_4     116
NO3_5     114
NO3_6     110
NO3_7     110
BOD5_1      2
BOD5_2      2
BOD5_3    115
BOD5_4    116
BOD5_5    114
BOD5_6    110
BOD5_7    110
dtype: int64

In [11]:
data.isna().sum() > 100

Id        False
target    False
O2_1      False
O2_2      False
O2_3       True
O2_4       True
O2_5       True
O2_6       True
O2_7       True
NH4_1     False
NH4_2     False
NH4_3      True
NH4_4      True
NH4_5      True
NH4_6      True
NH4_7      True
NO2_1     False
NO2_2     False
NO2_3      True
NO2_4      True
NO2_5      True
NO2_6      True
NO2_7      True
NO3_1     False
NO3_2     False
NO3_3      True
NO3_4      True
NO3_5      True
NO3_6      True
NO3_7      True
BOD5_1    False
BOD5_2    False
BOD5_3     True
BOD5_4     True
BOD5_5     True
BOD5_6     True
BOD5_7     True
dtype: bool

In [12]:
data.columns[data.isna().sum() > 100]

Index(['O2_3', 'O2_4', 'O2_5', 'O2_6', 'O2_7', 'NH4_3', 'NH4_4', 'NH4_5',
       'NH4_6', 'NH4_7', 'NO2_3', 'NO2_4', 'NO2_5', 'NO2_6', 'NO2_7', 'NO3_3',
       'NO3_4', 'NO3_5', 'NO3_6', 'NO3_7', 'BOD5_3', 'BOD5_4', 'BOD5_5',
       'BOD5_6', 'BOD5_7'],
      dtype='object')

In [13]:
list(data.columns[data.isna().sum() > 100])

['O2_3',
 'O2_4',
 'O2_5',
 'O2_6',
 'O2_7',
 'NH4_3',
 'NH4_4',
 'NH4_5',
 'NH4_6',
 'NH4_7',
 'NO2_3',
 'NO2_4',
 'NO2_5',
 'NO2_6',
 'NO2_7',
 'NO3_3',
 'NO3_4',
 'NO3_5',
 'NO3_6',
 'NO3_7',
 'BOD5_3',
 'BOD5_4',
 'BOD5_5',
 'BOD5_6',
 'BOD5_7']

In [14]:
rem_columns = list(data.columns[data.isna().sum() > 100])

data.drop(rem_columns, axis = 1, inplace = True)

In [15]:
data

      Id  target    O2_1   O2_2  NH4_1  ...   NO2_2  NO3_1  NO3_2  BOD5_1  BOD5_2
0      0   12.58   9.875   9.20  0.690  ...  0.0990   1.58  1.825    4.80   5.850
1      3    9.37  10.300  10.75  0.710  ...  0.0515   1.21  0.905    5.88   6.835
2      4    8.35   8.290   7.90  2.210  ...  0.1100   1.34  1.250    3.20   2.700
3      5    9.57   8.820   6.80  0.595  ...  0.0535   0.59  0.790    7.70   7.055
4      6    6.00   6.000   6.50  0.600  ...  0.3400   1.36  1.820    5.50   5.300
..   ...     ...     ...    ...    ...  ...     ...    ...    ...     ...     ...
142  208    6.80   7.700   7.50  0.380  ...  0.0640   2.80  3.330    5.00   5.800
143  211    5.30   6.300   5.65  0.370  ...  0.9500   4.37  3.160    8.00   8.000
144  212    8.60   8.600  11.00  2.400  ...  0.1400   0.53  3.000    6.80   7.200
145  213    9.90   9.600  14.10  0.310  ...  0.0800   3.10  3.500    5.20   7.800
146  214    6.50   6.500   7.70  0.190  ...  0.0720   0.00  0.000    3.40   4.100

[147 rows x 12 columns]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      147 non-null    int64
 1   target  147 non-null    float64
 2   O2_1    145 non-null    float64
 3   O2_2    145 non-null    float64
 4   NH4_1   145 non-null    float64
 5   NH4_2   145 non-null    float64
 6   NO2_1   145 non-null    float64
 7   NO2_2   145 non-null    float64
 8   NO3_1   145 non-null    float64
 9   NO3_2   145 non-null    float64
 10  BOD5_1  145 non-null    float64
 11  BOD5_2  145 non-null    float64
dtypes: float64(11), int64(1)
memory usage: 13.9 KB

In [22]:
(data.isna().sum(axis = 0) != 0).sum()

10

In [20]:
(data.isna().sum(axis = 1) != 0).sum()

3

In [25]:
print(f'Columns with missing values: {(data.isna().sum(axis = 0) != 0).sum()}')
print(f'Rows with missing values: {(data.isna().sum(axis = 1) != 0).sum()}')

Columns with missing values: 10
Rows with missing values: 3

In [26]:
data.dropna(axis = 0, inplace = True)

In [27]:
data

      Id  target    O2_1   O2_2  NH4_1  ...   NO2_2  NO3_1  NO3_2  BOD5_1  BOD5_2
0      0   12.58   9.875   9.20  0.690  ...  0.0990   1.58  1.825    4.80   5.850
1      3    9.37  10.300  10.75  0.710  ...  0.0515   1.21  0.905    5.88   6.835
2      4    8.35   8.290   7.90  2.210  ...  0.1100   1.34  1.250    3.20   2.700
3      5    9.57   8.820   6.80  0.595  ...  0.0535   0.59  0.790    7.70   7.055
4      6    6.00   6.000   6.50  0.600  ...  0.3400   1.36  1.820    5.50   5.300
..   ...     ...     ...    ...    ...  ...     ...    ...    ...     ...     ...
142  208    6.80   7.700   7.50  0.380  ...  0.0640   2.80  3.330    5.00   5.800
143  211    5.30   6.300   5.65  0.370  ...  0.9500   4.37  3.160    8.00   8.000
144  212    8.60   8.600  11.00  2.400  ...  0.1400   0.53  3.000    6.80   7.200
145  213    9.90   9.600  14.10  0.310  ...  0.0800   3.10  3.500    5.20   7.800
146  214    6.50   6.500   7.70  0.190  ...  0.0720   0.00  0.000    3.40   4.100

[144 rows x 12 columns]

In [28]:
data.isna().sum().sum()

0

In [41]:
data.drop('Id', axis = 1, inplace = True)

# Splitting and Scaling Data

In [42]:
X = data.drop('target', axis = 1)
Y= data['target']

In [43]:
X

       O2_1   O2_2  NH4_1  NH4_2   NO2_1   NO2_2  NO3_1  NO3_2  BOD5_1  BOD5_2
0     9.875   9.20  0.690  1.040  0.0940  0.0990   1.58  1.825    4.80   5.850
1    10.300  10.75  0.710  0.725  0.0585  0.0515   1.21  0.905    5.88   6.835
2     8.290   7.90  2.210  2.210  0.1000  0.1100   1.34  1.250    3.20   2.700
3     8.820   6.80  0.595  0.675  0.0460  0.0535   0.59  0.790    7.70   7.055
4     6.000   6.50  0.600  0.900  0.1800  0.3400   1.36  1.820    5.50   5.300
..      ...    ...    ...    ...     ...     ...    ...    ...     ...     ...
142   7.700   7.50  0.380  1.900  0.6200  0.0640   2.80  3.330    5.00   5.800
143   6.300   5.65  0.370  0.500  0.6900  0.9500   4.37  3.160    8.00   8.000
144   8.600  11.00  2.400  3.600  0.1500  0.1400   0.53  3.000    6.80   7.200
145   9.600  14.10  0.310  0.500  0.2100  0.0800   3.10  3.500    5.20   7.800
146   6.500   7.70  0.190  0.260  0.1300  0.0720   0.00  0.000    3.40   4.100

[144 rows x 10 columns]

In [44]:
Y

0      12.58
1       9.37
2       8.35
3       9.57
4       6.00
       ...
142     6.80
143     5.30
144     8.60
145     9.90
146     6.50
Name: target, Length: 144, dtype: float64

In [45]:
scaler = StandardScaler()

X = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)

In [46]:
X

         O2_1      O2_2     NH4_1  ...     NO3_2    BOD5_1    BOD5_2
0    0.179369  0.009505  0.219723  ... -0.575052 -0.085090  0.464734
1    0.281515  0.423750  0.262989  ... -0.973763  0.443285  0.960824
2   -0.201578 -0.337926  3.507976  ... -0.824246 -0.867866 -1.121745
3   -0.074195 -0.631906  0.014207  ... -1.023602  1.333693  1.071625
4   -0.751969 -0.712082  0.025023  ... -0.577219  0.257375  0.187730
..        ...       ...       ...  ...       ...       ...       ...
139 -0.343382 -0.444827 -0.450908  ...  0.077186  0.012757  0.439552
140 -0.679865 -0.939249 -0.472541  ...  0.003511  1.480463  1.547569
141 -0.127071  0.490564  3.919008  ... -0.065830  0.893381  1.144654
142  0.113274  1.319053 -0.602341  ...  0.150861  0.110605  1.446840
143 -0.631796 -0.391377 -0.861940  ... -1.365972 -0.770019 -0.416643

[144 rows x 10 columns]

Train-test Split

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3)

In [55]:
print(X.shape, X_train.shape, X_test.shape)

(144, 10) (100, 10) (44, 10)

# Model

In [58]:
model = LinearRegression()

model.fit(X_train, Y_train)

score = model.score(X_test, Y_test)
print('R2 Error: {:.2f}%'.format(score * 100))

R2 Error: 45.91%

Changing the data by classifying target into either 0 or 1

In [60]:
Y.mean()

9.145763888888887

In [61]:
y_new = pd.qcut(Y, q = 2, labels = [0, 1])

In [62]:
y_new

0      1
1      1
2      0
3      1
4      0
      ..
142    0
143    0
144    0
145    1
146    0
Name: target, Length: 144, dtype: category
Categories (2, int64): [0 < 1]

In [63]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y_new, test_size = 0.3)

In [65]:
model = LogisticRegression()
model.fit(X_train, Y_train)
score1 = model.score(X_test, Y_test)
print('R2 Error:{:.2f}%'.format(score1 * 100))

R2 Error:75.00%